<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbotron text-center">
			<img class="d-block mx-auto mb-4" th:src="@{/image/java_logo.png}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Carrinho</h1>
				<p class="lead text-muted">Clique no botão abaixo para finalizar sua compra!</p>
			</div>
		</section>

		<div class="album py-5 bg-light">

			<div class="container">

				<div class="row">
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Código</th>
					      <th scope="col">Produto</th>
					      <th scope="col">Descrição</th>
					      <th scope="col">Valor</th>
					      <th scope="col"> </th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Produto 01</td>
					      <td>Descrição do produto</td>
					      <td>R$ 200,00</td>
					      <td><a class="dropdown-item" th:href="@{/pacientes}">Comprar</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		</main>
	</section>
	<script th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>